.cabecalho {
    background-color: #ffffff;
    text-align: center;
    width: 100%;
}

.cabecalho__imagem {
    width: 10%;  
}

.cabecalho__navegacao {
    margin: 0.5em auto;
}

.cabecalho__lista {
    margin: 0 auto;
}

.cabecalho__lista li a {
    color: black;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
}

.cabecalho__lista li a:hover {
    color: #9b7659;
}

@media only screen and (min-width: 481px) and (max-width: 1023px) {
    .cabecalho {
        padding-bottom: 10px;
    }

    .cabecalho__lista li a {
        font-size: 2em;
    }

}

@media only screen and (min-width: 1224px) and (max-width: 1590px) {
    .cabecalho {
        background-color: transparent;
        overflow: hidden;
    }

    .cabecalho__imagem {
        left: -601px;
        position: relative;
        top: 15px;
        width: 5%;
    }

    .cabecalho__lista {
        background-color: #ffffff;
        background-image: url(../img/egipicio.png);
        background-size: 3%;
        display: flex;
        font-size: 2em;
        padding: 3px;
    }   

    .cabecalho__lista li a {
        background-color: #ffffff;
        font-size: 23px;
        justify-content: flex-start;
        margin-right: 20px;   
    }
}