body {
    max-width: 480px;
    background-image: url(../img/texto.jpg);
}

main {
    display: flex;
    flex-direction: column;
   
}

.titulo__principal {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 20%;
    font-size: 1.5em;
    margin: 0.5em auto;
}

.titulo__principal::before {
    content: '(De) ';
    font-style: italic;
}

.mensagem {
    width: 200px;
    height: 100px;
    margin: 0.5em auto;
}

.resposta {
    width: 200px;
    height: 100px;
    margin: 0.5em auto;
}

.botao__principal {
    width: 150px;
    height: 50px;
    margin: 0.5em auto;
    border: 2px solid black;
    border-radius: 10%;
    font-weight: bold;
}

.botao__resposta {
    width: 150px;
    height: 50px;
    margin: 0.5em auto;
    margin-bottom: 1.3em;
    border: 2px solid black;
    border-radius: 10%;
    font-weight: bold;
}

@media  screen and (min-width: 740px) {
    body {
        width: 100%;
        height: auto;
    }

    .titulo__principal {
        margin: 0.5em 0 0.5em 15em;
        padding: 10px 0px 10px 0px;
        width: 40%;
    }

    main {
        display: inline-block;
        text-align: center;
        height: 700px;
    }

    .mensagem {
        width: 640px;
        height: 400px;
        text-align: center;
        margin: 0px 0px 0px 200px;
    }

    .resposta {
        width: 200px;
        height: 400px;
        position: relative;
        left: 469px;
        top: -416px;
        background-image: url(../img/fundo.png);
        background-position: center;
    }

    .botao__principal {
        position: relative;
        margin-right: 1em;
        top: -376px;
        left: 281px;
    }

    .botao__principal:hover {
        background-color: #9b7659;
    }
    
    .botao__resposta {
        position: relative;
        top: -376px;
        left: 291px;
    }

    .botao__resposta:hover {
        background-color: #9b7659;
    }

}