.rodape {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    height: auto;
}

.rodape__titulo {
    font-size: 1.3em;
    margin: 1em auto;
}
.rodape__imagem {
    width: 30%;
    border-radius: 50%;
    margin-bottom: 1em;
}

.rodape__paragrafo {
    margin-bottom: 1em;
}

.rodape__link {
    margin: 0.5em 1em 0.5em 1em;
    font-size: 1em;
    text-decoration: none;
    color: black;
}

.rodape__link:hover {
    color: green;
}

@media only screen and (min-width: 481px) and (max-width: 1023px) {
    .rodape__imagem {
        width: 15%;
    }

    .rodape__paragrafo {
        margin-bottom: 1.5em;
    }
    
}

@media only screen and (min-width: 1224px) and (max-width: 1590px) {
    .rodape {
        height: 450px;
        overflow-y: hidden;
    }
    .rodape__imagem {
        width: 15%;
    }
}